.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 100px; 
    bottom: 0;
    margin: 0;
    border-radius: 20px;
    z-index: 1;
    gap: 20px;
    height: fit-content;
    transition: 0.3s ease;
    background: rgba(255, 255, 255, 0.05);
    box-shadow:
    inset 0 4px 8px rgba(255, 255, 255, 0.15),
    inset 0 -12px 8px rgba(0, 0, 0, 0.15),
    0 4px 20px rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px) brightness(1.05);
}

.list_container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    gap: 10px;
}

.button_container {
     display: flex;
     width: 100%;
}

.tab_button {
    margin: 0px;
    width: 100%;
    font-size: 18px;
    height: 40px;
    padding: 0px;
    border-radius: 10px 10px 0px 0px;
}

.search_button {
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding: 0px;
    border-radius: 0px 0px 0px 10px;
}

.clear_button {
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding: 0px;
    border-radius: 0px 0px 10px 0px;
}

.item_button {
    background: none;
    border: none;
}

.item_button:hover {
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
