.default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 100%;
}

.default h1 {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.default ul {
    width: 100%;
}

.default button {
    width: 100%;
    border: none;
    background: none;
    padding: 5px;
    border-radius: 5px;
    transition: 0.1s ease;
}

.default button:hover {
    background: rgba(255,255,255,0.1);
}