.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.userInfo {
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 80%;
    border: inset 0.3px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0.05);
    box-shadow:
    inset 0 4px 8px rgba(255, 255, 255, 0.15),
    inset 0 -12px 8px rgba(0, 0, 0, 0.15),
    0 4px 20px rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px) brightness(1.05);
    transition: 1s ease;
    border-radius: 20px;
}

.content {
    position: absolute;
    transition: .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

}

.navigation {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
}

.navigation button {
    border: none;
    background: none;
    flex-grow: 1;
}

.navigation button:hover {
    background: rgba(255,255,255,0.2)
}

.moveInfo {
    left: -100vw;
}



.moveGroups {
    top: 100vh;
}

.moveShareDrive {
    left: 100vw;
}

.moveLockout {
    top: 100vh;
}

.content {
    list-style: none;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr,
.table thead,
.table tbody {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    gap: 10px;
}


.table thead,
.table tbody {
    flex-direction: column;
    border: 1px solid white;
}



.table td,
.table th {
    padding: 5px;
    text-align: center;
    flex-basis: 33%;
}

